# ==========================================
# Application Configuration
# ==========================================
PORT=5000
FRONTEND_URL=https://arabtechproserver.tech

# ==========================================
# Database Configuration
# ==========================================
DATABASE_URL=postgresql://postgres:gyRJAUZWXAYb8FtS0Rb8@pro-1-aerorj:5432/postgres

# ==========================================
# Google OAuth
# ==========================================
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here

# ==========================================
# Security (Must match the Frontend)
# ==========================================
JWT_SECRET=your_super_strong_secret_key_here

# ==========================================
# Dhru API Credentials
# ==========================================
DHRU_API_URL=https://arab-tech1.online/api/v1
DHRU_USERNAME=mina15g4y
DHRU_API_KEY=3AE-27F-14D-104-830-375-6D

# ==========================================
# Telegram Bot Configuration
# ==========================================
TELEGRAM_BOT_TOKEN=8902996463:AAE3zudjSRRGwYDHsbtSD_eg2SCYQM8NmjQ

# ==========================================
# Loops (Email) Credentials
# ==========================================
LOOPS_API_KEY=c54fb8a81230d2f9432530b5fdf9ac4b
LOOPS_TRANSACTIONAL_ID_OTP=cmrv2rlz301lp0j2pig1clc4n

# ==========================================
# PayPal Credentials
# ==========================================
PAYPAL_MODE=live
PAYPAL_CLIENT_ID=BAA8Rt-IgLlxgkq8MZ8oiOOqDhFqy92HBS9sxJzeYASwt8YU9Lz7GXrMAiACDFotqS5LlCxBsRISofo6n8
PAYPAL_CLIENT_SECRET=EI7vlBchAPD196F0XJTUpI52QenvTcWY76Rfpxu7NVQVJ5q81FfL-I2xGy9fArnjb03P0AVtuY2865Qf
